/* body {
  font-family: Arial, Helvetica, sans-serif;
} */

table {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin: 45px;
  width: 480px;
  text-align: left;
  border-collapse: collapse;
}

th {
  font-size: 13px;
  font-weight: normal;
  padding: 8px;
  background: #b9feb9;
  border-top: 4px solid #00ff80;
  border-bottom: 1px solid #fff;
  color: #156d29;
}

td {
  padding: 8px;
  background: #e8edff;
  border-bottom: 1px solid #fff;
  color: #156d29;
  border-top: 1px solid transparent;
}

tr:hover td {
  background: #d0dafd;
  color: #11441d;
}

h1 {
  text-align: center;
  color: #156d29;
}

.centro {
  text-align: center;
}

.izq {
  float: left;
}

.dere {
  text-align: right;
}

.tabla{
  margin: auto;
}

.color {
  background: white;
  color: white;
}

.titulo {
  text-shadow: 2px 2px 5px #156d29;
}

img {
  display: block;
  margin: auto;
}